@media (max-width: 820px) {
    .sidebar {
        display: none;
    }

    .sidebar-component{
      width: 0;
    }
    .sidebar-pr-responsive{
      padding: 0;
      padding-left: 17px;
     padding-right: 14px;
    }

    .sidebar-pr-responsive-hs{
      left: 0;
    }

    .header svg{
      display: none;

    }
}


@media (max-width: 820px) {

    .table-hs{
      display: table;
    }

    .table-header{
      flex-direction: column;
    }

    .card-title{
      margin-left: 2px;
    }
}