.right-slot {
    width: calc(100% - 600px);
    padding: 0 15px;
    justify-content: center;
}

.admin-marign-top-9-5{
    margin-top: 9.5%;
}

@media only screen and (max-width: 800px) {
    .admin-mainflex  .right-slot {
        width: 100%!important;
    }
}
